monomer/csv/
monomer/csv_raw/
monomer/csv_tmp/
monomer/csv_transpose*/
monomer/old/
monomer/monomer_data/
monomer/by_target/
monomer/new_png
monomer/*png
monomer/new_score
monomer/monomer_data_aug_28/
monomer/monomer_data_aug_30/
monomer/monomer_data_sep*/
monomer/monomer_data_Sep*/
monomer/sum*/
monomer/bootstrap*/
monomer/group_by_target*/
monomer/cluster_target/
monomer/*.err
monomer/*.log
monomer/*.txt
monomer/by_EU/
monomer/group_by_target_EU/
monomer/group_by_target_raw_EU/
monomer/sum_raw_EU/
monomer/sum_EU/
monomer/monomer_CASP15_data/
monomer/monomer_data_regular_CASP15/
monomer/group_by_target_raw_CASP15/
monomer/group_by_target_raw_EU/
monomer/csv_tmp_CASP15/
monomer/baseline_data_Sep_15_EU/
monomer/sum_raw_CASP15/
monomer/compare_stages_tmp/
monomer/monomer_data_T1/
monomer/monomer_data_T0_EU/
monomer/monomer_data_T1_EU/
monomer/monomer_data_T2_EU/
monomer/monomer_data_T0_EU_copy/
monomer/monomer_data_CASP15/
monomer/heatmap*/
monomer/score_*/
monomer/out_*/
monomer/check_with_qian/
monomer/for_Jing/
monomer/for_Arne/
monomer/for_Dima/
monomer/monomer_data_newest/
monomer/CASP16_figures/
monomer/monomer_data_fa/
monomer/monomer_data_CASP15/


monomer/best/*
!monomer/best/
!monomer/best/*py
monomer/0_compare_stage/*
!monomer/0_compare_stage/
!monomer/0_compare_stage/*py
monomer/1_compare_baseline/*
!monomer/1_compare_baseline/
!monomer/1_compare_baseline/*py
monomer/2_compare_baseline_AF3/*
!monomer/2_compare_baseline_AF3/
!monomer/2_compare_baseline_AF3/*py
monomer/3_cluster/*
!monomer/3_cluster/
!monomer/3_cluster/*py
monomer/4_CASP15_formula/*
!monomer/4_CASP15_formula/
!monomer/4_CASP15_formula/*py
monomer/5_T0_rank/*
!monomer/5_T0_rank/
!monomer/5_T0_rank/*py
monomer/6_T2_rank/*
!monomer/6_T2_rank/
!monomer/6_T2_rank/*py
monomer/7_model_6/*
!monomer/7_model_6/
!monomer/7_model_6/*py


oligomer/group_by_target_EU/
oligomer/csv/
oligomer/csv_raw/
oligomer/old/
oligomer/new_png
oligomer/*png
oligomer/new_score
oligomer/oligomer_data
oligomer/sum/
oligomer/group_by_target/
oligomer/oligomer_data_Sep*/
oligomer/oligomer_data_Nov*/
oligomer/bootstrap_new_EU/
oligomer/bootstrap_analysis_new_EU/
oligomer/bootstrap*/
oligomer/group_by_target*/
oligomer/group_by_target_EU_new/
oligomer/oligomer_data_CASP15/
oligomer/sum_CASP15/
oligomer/sum_raw_EU/
oligomer/sum_raw_new_EU/
oligomer/*err
oligomer/*log
oligomer/*txt
oligomer/stoichiometry/
oligomer/heatmap_interface*/
oligomer/score_EU*/
oligomer/score_interface*/
oligomer/out_*/
oligomer/check_with_qian/
oligomer/check_oligomer/
oligomer/for_Arne/
oligomer/for_Dima/
oligomer/raw_score/
oligomer/z_score/
oligomer/score_all/
oligomer/CASP16_figures_olig/
oligomer/for_Jing_H1265/
oligomer/score_T0*/
oligomer/score_T1*/
oligomer/score_T2*/

oligomer/0_CASP16_EU_score/*
!oligomer/0_CASP16_EU_score/
!oligomer/0_CASP16_EU_score/*py
oligomer/1_model_6/*
!oligomer/1_model_6/
!oligomer/1_model_6/*py
oligomer/2_compare_baseline/*
!oligomer/2_compare_baseline/
!oligomer/2_compare_baseline/*py
oligomer/3_stoichiometry/*
!oligomer/3_stoichiometry/
!oligomer/3_stoichiometry/*py
# oligomer/for_Jing_H1265/*
# !oligomer/for_Jing_H1265/
# !oligomer/for_Jing_H1265/*job

M_target/M_target_csv/
M_target/M_target_csv_v1/
M_target/M_target_csv_v1_archive/
M_target/interface_score/
M_target/interface_score_v1/
M_target/interface_score_large/
M_target/interface_score_v1_large/
M_target/interface_score_prot_prot_v1/
M_target/prot_nucl_interface_score/
M_target/bootstrap_interface_score/
M_target/bootstrap_interface_score_v1
M_target/bootstrap_prot_nucl_interface_score/
M_target/bootstrap_prot_nucl_interface_score_v1/
M_target/bootstrap_prot_prot_interface_score/
M_target/bootstrap_prot_prot_interface_score_v1/
M_target/bootstrap_prot_prot_interface_score_for_rhiju/
M_target/hybrid_data_Oct_11/
M_target/sum_EU/
M_target/group_by_target_EU/
M_target/bootstrap_EU/
M_target/heatmap*/
M_target/*err
M_target/*log

tmp/

oligomer_old/
monomer_old/


M_target_old/

monomer_rank/
monomer_rank_1/
stage1_oligomer_inputs/
oligomer_processed_data/