monomer/csv/
monomer/csv_raw/
monomer/csv_tmp/
monomer/csv_transpose*/
monomer/old/
monomer/monomer_data/
monomer/by_target/
monomer/new_png
monomer/*png
monomer/new_score
monomer/monomer_data_aug_28/
monomer/monomer_data_aug_30/
monomer/monomer_data_sep*/
monomer/monomer_data_Sep*/
monomer/sum/
monomer/bootstrap*/
monomer/group_by_target/
monomer/cluster_target/
monomer/*err
monomer/*log
monomer/by_EU/
monomer/group_by_target_EU/
monomer/group_by_target_raw_EU/
monomer/sum_raw_EU/
monomer/sum_EU/
monomer/monomer_data_regular_CASP15/
monomer/group_by_target_raw_CASP15/
monomer/group_by_target_raw_EU/
monomer/csv_tmp_CASP15/
monomer/baseline_data_Sep_15_EU/
monomer/sum_raw_CASP15/

oligomer/group_by_target_EU/
oligomer/csv/
oligomer/csv_raw/
oligomer/old/
oligomer/new_png
oligomer/*png
oligomer/new_score
oligomer/oligomer_data
oligomer/sum/
oligomer/group_by_target/
oligomer/bootstrap/
oligomer/oligomer_data_Sep*/
tmp/