monomer/csv/
monomer/csv_raw/
monomer/csv_tmp/
monomer/csv_transpose*/
monomer/old/
monomer/monomer_data/
monomer/by_target/
monomer/new_png
monomer/*png
monomer/new_score
monomer/monomer_data_aug_28/
monomer/monomer_data_aug_30/
monomer/sum/

oligomer/csv/
oligomer/csv_raw/
oligomer/old/
oligomer/new_png
oligomer/*png
oligomer/new_score
oligomer/oligomer_data
tmp/